.editor {
    width: 70%;
    height:100%;
    display: flex;
    flex-direction: column;

}
.editor-controls{
    display: flex;
    justify-content: flex-end;
    background-color: #1e1e1e;
}
.language-selector{
    margin-right: 15px;
}
button{
    margin-right: 10px;
    background-color: #28a745;
    border: none

}


