.navbar{
    background-color: #2563EB;
    color: #0F172A;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: white;
}

.navbar-links > a{
    margin: 5px;
    color: white;

}