.navbar{
    background-color: hsl(221, 83%, 53%);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: white;
}

.navbar-links > a{
    margin: 5px;
    color: white;

}