.practice{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* border: solid red 1px; */
    
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: blue solid 1px; */
    height: 70%;
}

.output-window{
    text-align: start;
    margin: 5px;
}