.description{
    width: 30%;
    color: #1e1e1e;
}

.examples{
    display: flex;
    flex-direction: column;
}

.example{
    margin-bottom: 20px;
}
.example-title{
    text-align: start;
    margin-left: 20px
}

